@import "tailwindcss";



@theme inline {
  --color-black-600: #111111;
  --color-black-500: #292929;
  --color-black-400: #414141;
  --color-black-300: #585858;
  --color-black-200: #707070;
  --color-black-100: #888888;

  --color-grey-600: #333333;
  --color-grey-500: #707070;
  --color-grey-400: #999999;
  --color-grey-300: #B8B8B8;
  --color-grey-200: #E0E0E0;
  --color-grey-100: #EFEFEF;

  --color-white-600: #ffffff;
  --color-white-500: #FCFCFC;
  --color-white-400: #FAFAFA;
  --color-white-300: #F7F7F7;
  --color-white-200: #F5F5F5;
  --color-white-100: #F2F2F2;

  --color-primary-teal-600: #006580;
  --color-primary-teal-500: #338499;
  --color-primary-teal-400: #66A3B3;
  --color-primary-teal-300: #99C1CC;
  --color-primary-teal-200: #CCE0E6;
  --color-primary-teal-100: #E6F0F3;

  --color-primary-green-600: #63A387;
  --color-primary-green-500: #82B59F;
  --color-primary-green-400: #A1C8B7;
  --color-primary-green-300: #C1DACF;
  --color-primary-green-200: #E0EDE7;
  --color-primary-green-100: #EFF6F3;

  --color-blue-600: #007BFF;
  --color-blue-500: #3395FF;
  --color-blue-400: #66B0FF;
  --color-blue-300: #99CAFF;
  --color-blue-200: #CCE5FF;
  --color-blue-100: #E6F2FF;

  --color-green-300: #1AA266;
  --color-green-200: #8CD0B3;
  --color-green-100: #E8F6F0;

  --color-red-300: #BA4636;
  --color-red-200: #DDA29A;
  --color-red-100: #F8ECEB;

  --color-background-200: #F1F0EC;
  --color-background-100: #F8F8F8;
}